.section-3 {
  .d-flex {
    display: flex !important;
  }
  .bg-b {
    background: #ccc8b6;
  }
  .pargrph {
    text-align: center;
    padding: 52px 40px;
    @include MQ(1200px) {
      padding: 52px 25px;

    }

    p {
      margin-top: 40px;
      text-align: left;
      line-height: 1.2;
    }
    i {
      font-size: 36px;
      margin-left: 20px;
      @include MQ(1240px) {
        font-size: 25px;
      }
    }
  }
  .f-s {
    margin: auto;
    padding: 100px 0px;
    h5 {
      margin: 0;
    }
    p {
      line-height: 1;
      margin-bottom: 60px;
    }
    button {
      display: block;
      padding: 6px 108px;
      margin-top: 20px;
      background: #ccc8b6;
      color: white;
      cursor: pointer;
      border: none;
      &:active {
        border: none;
      }
    }
    input {
      border: 1px solid black;
      padding: 5px 46px;
      &::placeholder {
        padding: 6px 0px !important;
      }
    }
  }

  .arrow {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 21%,
      94% 26%,
      100% 31%,
      100% 100%,
      0 100%
    );
  }
}

/*start twitter*/
.third-cover {
  background-image: url(../img/second-cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  .twitter {
    padding-top: 100px;
    color: white;
    @include MQ(767.98px) {
      padding-top: 50px;
    }
    i {
      font-size: 36px;
    }
    p{
    font-size: 20px;
    text-align: left;
    width: 75%;
    margin: 20px auto;
    font-family: cursive;
    line-height: 1.8;
}
    }
  }

